extends layout3.pug

block stylesheets
    link(rel="stylesheet" href="/createPoll.css")

block content
  main
    div.row
      div.col-xs-12.header.autoFont.h-25
        p Poll Creator!
      div.col-xs-12.question.h-20
        div.col-xs-12.autoFont.h-50
          p What is the poll about?
        div.col-xs-12.h-50
          input(type=text)#pollQuestion
      div.col-xs-6.option.h-20
        div.col-xs-12.autoFont.h-50
          p Value 1
        div.col-xs-12.h-50
          input(type=text)#valueOne
      div.col-xs-6.option.h-20
        div.col-xs-12.autoFont.h-50
          p Value 2
        div.col-xs-12.h-50
          input(type=text)#valueTwo
      div.col-xs-6.option.h-20
        div.col-xs-12.autoFont.h-50
          p Value 3
        div.col-xs-12.None
          input(type=text)#valueThree
      div.col-xs-6.option.h-20
        div.col-xs-12.autoFont.h-50
          p Value 4
        div.col-xs-12.h-50
          input(type=text)#valueFour
      div.col-xs-12.button.h-10
        div.col-xs-offset-4.col-xs-4.autoFont.h-100#submitPoll
          p Submit
      